{% extends "base.html" %}


{% block bodyblock %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<br/>
		<br/>
		<br/>
		<p>
			Hello.
		</p>
		<p>
			There is accountability for businesses, employers, videos,
			products, rentals, etc. But what about for people? How
			do you know if a person is honest?
		</p>
		<p>
			I want to help people, not only to trust other people,
			but also in keeping people accountable.
		</p>
		<center><img src="https://s3.us-east-2.amazonaws.com/soxy/misc/phillip01.jpg" alt="Phillip" width="30%" height="30%"></center>
		<!--<p>
			Currently, I am looking for Software Engineer (or Senior 
			Software Engineer) position in a great company.
			I am humble, hardworking, ambitious, and have excellent communication
			skills.<br/>
			<br/>
			If you need such a person at your company,
			<a href="/contact">click here to request my resume</a>.
		</p>-->
		<p>
			<br/>
			<a href="/contact">Click here to send me a message</a>.
		</p>
		<p>
			Thank you,<br/>
			Phillip<br/>
			Founder of PromiseTracker
		</p>
	</div>
</div>

{% endblock %}
