<style>

	button.home-button {
		background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
		display:inline-block;
		color:#ffffff;
		margin: 8px 0;
		padding: 32px 10px;
		/*background: #ED8400;*/

		/*margin-bottom: 15px;*/
		/*margin-top: 27px !important;*/
		/*padding: 20px;*/

		width: 100%;
		/*text-shadow: 1px 1px 2px transparent;*/
		box-shadow: inset 0px -3px 2px #734000;
		border-radius: 14px;
		/*border-radius: 6px;*/

		font-size: 32px;
		font-weight: bold;
		border: none;
		/*font-size: 26px !important;*/
		/*line-height: 26px !important;*/
		/*outline: none !important;*/

		/*font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif !important;*/
	}
	button.home-button:hover {
		background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	}
</style>

{% extends "base.html" %}
{% load staticfiles %}

{% block jumbotron %}

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class='row'>
		<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="jumbotron" style="padding-top: 15px; padding-bottom: 15px">
				<h2 style="text-align: center; margin-top: 5px">PromiseTracker</h2>
				<h3>Make promises online for free.</h3>
				<p>1. Enter promise and 2 emails</p>
				<p>2. Check email, both must approve promise</p>
				<p>3. Mark promise as "Fulfilled" or "Broken"</p>
				<p>4. <a href="/record">Search by email to view records</a></p>
				<br/>
				<p>No account required.</p>
			</div>
			<!--
			<button class="home-button" role="button">Lookup Promise Record</button>
			<button class="home-button" role="button">Make Promise to Someone</button>
			-->
		</div>
	</div>

{% endblock %}

{% block bodyblock %}

	<!--<div class="container-fluid" style='margin-left:15px'>
		<div class="col-sm-2">
			<br>
			<center>
			<img src="{% static '../media/img/cromisehand-black.png' %}" class="responsive-img" style='max-height:100px;' alt="logo">
			</center>
		</div>
		<div class="col-sm-10">
			<br>
			<center><h3>Welcome to PromiseTracker</h3></center>
			{% include "includes/html01.html" %}
		</div>
	</div>-->

{% endblock %}
