{% extends "base.html" %}
{% load staticfiles %}

{% block bodyblock %}

<style>
	a.home-button {
		background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
		display:inline-block;
		color:#ffffff;
		margin: 8px 0;
		padding: 20px 0;
		/*background: #ED8400;*/
		text-align: center;

		/*margin-bottom: 15px;*/
		/*margin-top: 27px !important;*/
		/*padding: 20px;*/

		width: 100%;
		/*text-shadow: 1px 1px 2px transparent;*/
		box-shadow: inset 0px -3px 2px #734000;
		border-radius: 14px;
		/*border-radius: 6px;*/

		font-size: 24px;
		font-weight: bold;
		border: none;
		/*font-size: 26px !important;*/
		/*line-height: 26px !important;*/
		/*outline: none !important;*/

		/*font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif !important;*/
	}
	a.home-button:hover {
		background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
		text-decoration: none;
	}
</style>

	<div class='row'>
		<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

			{% include "includes/carousel.html" %}

			<a href="/record" class="home-button">Lookup Promise Record</a>
			<a href="/make" class="home-button">Make Promise to Someone</a>
			<a href="/send" class="home-button">Send Promise Request</a>
		</div>
	</div>


	<!--<div class="container-fluid" style='margin-left:15px'>
		<div class="col-sm-2">
			<br>
			<center>
			<img src="{% static '../media/img/cromisehand-black.png' %}" class="responsive-img" style='max-height:100px;' alt="logo">
			</center>
		</div>
		<div class="col-sm-10">
			<br>
			<center><h3>Welcome to PromiseTracker</h3></center>
			{% include "includes/html01.html" %}
		</div>
	</div>-->

{% endblock %}
