<style>
	.navbar-default .navbar-brand {
		color: #3d8fe4;
		float: none;
		font-size: 28px;
		font-weight: bold;
		/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
		/*font-family: 'Helvetica';*/
	}
	.navbar-toggle {
		/*float: left;*/
		/*margin-left: 15px;*/
		background-color: #3d8fe4;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fbfbfb;
	}
</style>

<!-- Fixed navbar -->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand text-center center-block" href="{% url 'home' %}">PromiseTracker</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!--{% url 'home' as home %}-->

				<li {% if request.path == '/' %} class="active" {% endif %}>
					<a href="{% url 'home' %}">Home</a>
				</li>
				<li {% if request.path == '/make/' or request.path == '/send/' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make promise <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/make">I am making a promise to someone</a>
						</li>
						<li>
							<a href="/send">Someone is making a promise to me</a>
						</li>
					</ul>
				</li>
				<li {% if request.path == '/record/' %} class="active" {% endif %}>
					<a href="{% url 'record' %}">Record lookup</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
