{% extends "base.html" %}
{% load record_tags %}

{% block bodyblock %}

<div class='row'>
	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

		<div class="well" style="margin-bottom:0px;padding-bottom:5px;padding-top:5px;">

			<h4>Status: {{ status|capfirst  }}</h4>
			<p>Privacy: {{ privacy|capfirst  }}</p>
			<p>Created: <span data-utc="{{cdate}}" class="localtime"></span></p>
			<p>Completed: <span data-utc="{{mdate}}" class="localtime"></span></p>
			<p>Details: {{ details }}</p>
			<!-- <p>{{ promid }}</p> -->

		</div>

	</div>
</div>

<!-- grabs iso8601 date from data attr, formats it, puts in span tags. Must be placed after code, not before -->
<script type="text/javascript">
	displayLocalTimeInSpan();
</script>

{% endblock %}

